<%- include('header') %> 

<body onload=<%- test %>;>
    <h1>Hello from index.ejs</h1>
    <%= message %>
    <%- test %>
    <span id='horloge' style="background-color:#1C1C1C;color:silver;font-size:40px;"></span>
    
<%- include('footer') %>


